.container-add-publicacion {
    background-color: #E7E5DF;
    padding: 2%;
    height: 70vh;
}
.div-main {
    background-color: white;
    width: 60vw;
    margin:0px auto;
    border-radius: 8px;
    border: 0.5px;
    box-shadow: 0px 10px 30px -10px;
}
.div-main h4 {
    padding-top: 2%;
    text-align: center;
    color: #6a6c6d;  
}
.div-main h5 {
    padding-top: 1%;
    text-align: left;
    color: #6a6c6d;  
    font-size: 1.1rem;
    margin-left: 8%;
}
.columnas-form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1%;
    padding: 0 1%;
}
.label-input-prod{
    width: 90%;
    text-align: left;
}
.label-input-prod label{
    margin-left: 5%;
}
.label-input-prod input {
    width: 90%;
    margin:0px auto;
    font-style: italic;
}
.label-input-prod .select_input_cat {
    width: 90%;
    margin:0px auto;
    height: 2.5rem;
}
.is-required:after {
    content: '*';
    margin-left: 3px;
    color: red;
    font-weight: bold;
}

#form-control-descr {
    width: 90%;
}
.btn-publicacion {
    background-color: #44BBA4 ;
    margin-top: 8%;
    margin-left: 20%;
    border-radius: 5px;
    border: 0.5px #44BBA4 solid;
    width: 50%;
    height: 2.3rem;
    color: white;
}
#asterisco {
    color: red;
}
#form-control-desc {
    height: 5rem;
}
input[type="file"]::file-selector-button {
    background-image: linear-gradient(
        to right,
        #44BBA4 ,
        #44BBA4,
        #44BBA4 100%,
        #44BBA4 200%
      );
    width: 40%;
    color: #fff;
    border-radius: 8px;
    padding-left: 0.5rem;
  }

/* --- media query  --- */
@media (max-width : 997px) {
    .div-main {
        width: 70%;
    }
    .container-add-publicacion {
        height: 100vh;
    }
}

@media (max-width : 768px) {
    .container-add-publicacion {
        height: 120vh;
    }
    .div-main {
        width: 70%;
    }
    .columnas-form {
        display: flex;
        flex-direction: column;
    }
    .label-imput-prod {
        width: 100%;
        margin-top: 1%;
    }
    .btn-publicacion {
        margin-top: 4%;
    }
}
@media (max-width : 528px) {
    .div-main {
        width: 80%;
    }

}