#id-nav-private {
    background-color: #44bba39d;
    width: 100%;
    display: flex;
}
#id-container-fluid {
    width: 50%;
}
.nav-item {
    padding: 0;
    width: 4rem;
    text-align: left;
}

.container-select {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 3.5rem;
}
#nombre-login {
    background-color: transparent;
    border: transparent;
    color: #393E41;
    width: 30%;
    font-size: 1.1rem;
    text-align: left;
 }
/* .nav-link-priv{
    text-align: center;
    width: 10rem;
} */

.sign_out {
    filter: invert(0.3);
}
.img_nav {
    filter: invert(0.3);
}
#nav-link-signout {
    margin-right: 3rem;
}

/* --- media query  --- */
@media (max-width : 1000px) {
    #nombre-login {
        width: 50%;
        text-align: left;}
    
    .container-select {
        width: 50%;
        margin-right: 1.5rem;
    }
}
@media (max-width : 768px) {
    #nombre-login {
        text-align: left;}
    #nav-link-signout {
       margin-right: 0.5rem;
    }
    .container-select {
        width: 50%;
        margin-right: 1rem;
    }
}


