#id-nav-private {
    background-color: #44bba39d;
    width: 100%;
    display: flex;
}
#id-container-fluid {
    width: 50%;
}
#nav-item {

    padding: 0;
    width: 10rem;
    text-align: left;
}

.container-select {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#nombre-login {
    background-color: transparent;
    border: transparent;
    color: #393E41;
    width: 100%;
    font-size: 1.2rem;
    text-align: end;
 }
.nav-link {
    text-align: center;
}
.sign_out {
    width: 3ewm;
    filter: invert(0.3);
}

/* --- media query  --- */
@media (max-width : 800px) {



}



